<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>我的关注</title>

    <div th:include="/common/layui"></div>
    <div th:include="/common/jq"></div>

    <!--添加 layui 自己的 css js  支持加载-->
    <link href="/css/houtai/manage_base.css" rel="stylesheet" />
    <script	src="/js/houtai/manage_base.js"></script>
    <!--添加 layui 自己的 css js  支持加载-->
</head>

<script>
    // 加载多个表格中的数据
    window.onload = function () {
         function load() {
            let tables = document.getElementsByClassName('focusTable');
            for (let i = 0; i < tables.length; i++) {
                let tb = $(tables[i]);
                let typeId = tb.attr('typeId');
                $.post('/admin/focus/info/list', {'typeId': typeId}, function (messageList) {
                    let messages = messageList.messageList;
                    for (let j=0; j<messages.length; j++) {
                        let message = messages[j];
                        let tr = "<tr><td>"+message.id+"</td><td>"+message.orderNo+"</td><td>"+message.addrString+"</td><td>"+message.price+"</td><td>"+message.messageType.name+"</td>" +
                            "<td>"+message.source+"</td><td>"+message.urlString+"</td><td>"+message.imageUrl+"</td><td>"+message.createDateTime+"</td><td>"+message.updateDateTime+"</td></tr>";
                        tb.append(tr);
                    }
                }, 'json');
            }
        }
        load();
    };
</script>

<body style="padding-top: 3px;">

<div style="margin: 30px 50px;">

    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend>我的关注</legend>
    </fieldset>

    <!--关注内容显示-->
    <div class="layui-card" th:each="focusInfo: ${focusInfoList}">
        <div class="layui-card-header" th:text="${focusInfo.messageType.name}"></div>
        <div class="layui-card-body">
            <table class="layui-table focusTable" th:attr="typeId=${focusInfo.messageType.id}" lay-skin="line">
                <colgroup>
                    <col width="150">
                    <col width="150">
                    <col width="200">
                    <col>
                </colgroup>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>排序号</th>
                        <th>地址信息</th>
                        <th>价格</th>
                        <th>类型</th>
                        <th>来源</th>
                        <th>网页地址</th>
                        <th>优惠图片</th>
                        <th>创建时间</th>
                        <th>修改时间</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>



</body>
</html>